# production:
#   adapter: mysql
#   database: openmrs
#   username: root
#   password:
#   host: localhost

development:
  adapter: mysql
  database: test_bart
  username: root
  password: password
  host: localhost

test: &TEST
  adapter: mysql
  database: bart2_test
  username: root
  password: password
  host: localhost

cucumber:
  <<: *TEST

migration_source:
  adapter: mysql
  database: test_buffer_bart
  username: root
  password: password
  host: localhost

migration_destination:
  adapter: mysql
  database: test_bart
  username: root
  password: password
  host: localhost

bart1_migration_source:
  adapter: mysql
  database: stgabriel
  username: root
  password: password
  host: localhost

bart2_migration_destination:
  adapter: mysql
  database: stgabriel_bart2_test
  username: root
  password: password
  host: localhost

